body
{
	margin:0px;
}
#h1
{
	width:600px;
	height:40px;
	margin:0 auto 0;
}
#content
{
	width:1100px;
	height:600px;
	margin:0 auto 0;
}
#header
{
	width:100%;
	height:25%;
	background-color:lime;
	font-family:B Homa;
	font-size:26pt;
}
#p1
{
	font-family:B Homa;
	font-size:26pt;
}
#right
{
	direction:rtl;
	list-style-type:disc;
	padding-right:10px;
	font-family:B Sina;
	font-size:20pt;
	width:75%;
	height:70%;
	float:right;
}
#left
{
	font-family:B Roya;
	width:15%;
	height:70%;
	float:left;
	background-color:yellow;
	font:16pt;
}
p
{
	font-size:10pt;
}
#footer
{
	background-color:blue;
	width:100%;
	height:5%;
	font-family:B Nikoo;
	float:right;
}
#inf
{
	font-family:B Mahsa;
	font-size:24pt;
	width:800px;
	height:400px;
	margin:0 auto 0;
	float:right;
	top:60;
	right:40;
	position:relative;
}